.marker {
  background-image: url('noun_800600.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

/********** Directions Input ****************************************/



/********** Station Popup *******************************************/

.station-popup--container .mapboxgl-popup-content {
  padding-bottom: 6px;
}

.station-popup {
  text-align: center;
}

.station-popup h3 {
  margin-bottom: 1em;
}

/* div.station-popup--directions {
} */

div.station-popup--directions a{
  text-decoration: none;
}

.station-popup--coordinates {
  border-top: 1px solid lightgrey;
  text-align: right;
  padding-top: 0.5em;
  margin-top: 0.5em;

  font-size: smaller;
  color: lightgrey;
}

.station-popup--bikes-number, .station-popup--docks-number {
  font-size: large;
}

/* .station-popup--bikes-text, .station-popup--docks-text {
} */

div.station-popup--stats {
  margin-bottom: 0 !important;
  font-weight: bold;
}

.station-popup--alert {
  font-weight: bold;
  font-size: large;
  margin-bottom: 1em;
}
