canvas.mapboxgl-canvas {
  background: lightgray;
}

.marker {
  background-image: url('noun_800600.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.map-marker-directions {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  width: 20px;
}

.map-marker-directions.is-origin {
  background-image: url('map-dot-origin.svg');
}
.map-marker-directions.is-destination {
  background-image: url('map-dot-destination.svg');
}



/********** Directions Input ****************************************/

.directions {
  position: absolute;
  margin: 1em;
  background: rgba(255, 255, 255, 0.85);
}

.directions--content {
  padding: 1em;
}

.directions--toggle-button {
  background: #4AB2F7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60px;
  cursor: pointer;
}

.directions--toggle-button.shown {
  background-image: url('directions-up.svg');
}
.directions--toggle-button.hidden {
  background-image: url('directions-down.svg');
}

.directions--toggle-button {
  height: 2em;
}

#directions--distance-range {
  /* width: 157px; */
  width: 100%;
}

.directions--distance-picker {
  margin-bottom: 2em;
  padding: 0.5em;
}

#directions--distance-range .noUi-connect {
  background-color: rgb(222, 224, 224);
  box-shadow: inset 0 0 1px rgba(51,51,51,.2);
}

.noUi-pips.noUi-pips-horizontal {
  height: 50px; /* was 80 which ate into button below */
}

.directions--locate-origin.column {
  padding-left: 0;
}

.directions--locate-origin button{
  background-image: url('locate-person.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  width: 38px;
}

/* .directions--locate-origin button.is-light:hover {
  border-color: black;
} */


@media screen and (max-width: 780px) {
  .directions {
    margin: 0;
  }
}


/********** Directions Autocomplete **********************************/

.autocomplete {
  background: white;
  z-index: 100;
  border: 1px solid #e4e2e2;
}

.autocomplete div {
  border-top: 1px solid #adadad;
  padding: 1em;
  cursor: pointer;
}

.autocomplete div:hover, .autocomplete div:focus {
  background: rgb(202, 206, 227);
}


/********** Station Popup *******************************************/

.station-popup--container .mapboxgl-popup-content {
  padding-bottom: 6px;
}

.station-popup {
  text-align: center;
}

.station-popup h3 {
  margin-bottom: 1em;
}

/* div.station-popup--directions {
} */

div.station-popup--directions a{
  text-decoration: none;
}

.station-popup--coordinates {
  border-top: 1px solid lightgrey;
  text-align: right;
  padding-top: 0.5em;
  margin-top: 0.5em;

  font-size: smaller;
  color: lightgrey;
}

.station-popup--bikes-number, .station-popup--docks-number {
  font-size: large;
}

/* .station-popup--bikes-text, .station-popup--docks-text {
} */

div.station-popup--stats {
  margin-bottom: 0 !important;
  font-weight: bold;
}

.station-popup--alert {
  font-weight: bold;
  font-size: large;
  margin-bottom: 1em;
}
